<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>project.servlet.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>project.servlet.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>project.servlet.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MovieController</servlet-name>
        <servlet-class>project.servlet.MovieController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieController</servlet-name>
        <url-pattern>/movielist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MoviecontentController</servlet-name>
        <servlet-class>project.servlet.MoviecontentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MoviecontentController</servlet-name>
        <url-pattern>/moviecontent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EventController</servlet-name>
        <servlet-class>project.servlet.EventController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventController</servlet-name>
        <url-pattern>/eventlist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EventcontentController</servlet-name>
        <servlet-class>project.servlet.EventcontentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventcontentController</servlet-name>
        <url-pattern>/eventcontent</url-pattern> 
    </servlet-mapping>
    <servlet>
        <servlet-name>ProvinceController</servlet-name>
        <servlet-class>project.servlet.ProvinceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProvinceController</servlet-name>
        <url-pattern>/provincelist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CinemaController</servlet-name>
        <servlet-class>project.servlet.CinemaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CinemaController</servlet-name>
        <url-pattern>/cinemalist</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>project.servlet.UserListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/UserListController</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>MovieListController</servlet-name>
        <servlet-class>project.servlet.MovieListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieListController</servlet-name>
        <url-pattern>/MovieListController</url-pattern>
    </servlet-mapping>
    
      <servlet>
        <servlet-name>UpdateMovieController</servlet-name>
        <servlet-class>project.servlet.UpdateMovieController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateMovieController</servlet-name>
        <url-pattern>/UpdateMovieController</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>AddMovieController</servlet-name>
        <servlet-class>project.servlet.AddMovieController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMovieController</servlet-name>
        <url-pattern>/AddMovieController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteMovieController</servlet-name>
        <servlet-class>project.servlet.DeleteMovieController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteMovieController</servlet-name>
        <url-pattern>/DeleteMovieController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateCinemaController</servlet-name>
        <servlet-class>project.servlet.UpdateCinemaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCinemaController</servlet-name>
        <url-pattern>/UpdateCinemaController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteCinemaController</servlet-name>
        <servlet-class>project.servlet.DeleteCinemaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCinemaController</servlet-name>
        <url-pattern>/DeleteCinemaController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>project.servlet.DeleteUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteBookingController</servlet-name>
        <servlet-class>project.servlet.DeleteBookingController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteBookingController</servlet-name>
        <url-pattern>/DeleteBookingController</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
    <servlet-name>DashboardController</servlet-name>
    <servlet-class>project.servlet.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/DashboardController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
